#blackmailed-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
    text-align: center;
    color: black;
    flex-wrap: wrap;
}

.blackmailed-flex-item {
    height: 12em;
    max-width: 100%;
}

#bank-cont, #business-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

#bank-pic {
    height: 10em;
}

li {
    list-style: none;
    margin: 2%;
    padding: 2%;
}

#bank-list {
    align-content: space-around;
}