#blackmailed-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
    text-align: center;
    color: black;
    flex-wrap: wrap;
    width: 75%;
    align-self: center;
    margin: auto;
}

.blackmailed-flex-item {
    height: 18em;
    max-width: 100%;
}

#business-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}

li {
    list-style: square;
}

ul {
    border-left: gray 5px double;
    border-right: gray 5px double;
    width: 40%;
    margin: auto;
}

.bank-list, #money-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 8em;
}

.heading {
    text-align: center;
    font-size: 2em;
    padding-bottom: 2%;
}

#top-heading {
    padding-top: 7%;
}

#rent-a, #snake-lounge {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#snake-pic, #rent-pic {
    height: 20em;
    max-width: 100%;
}

li, p {
    font-family: ‘Courier New’, Courier, monospace;
}

h1, h3, h5, h6 {
    font-family: ‘Times New Roman’, Times, serif;
}

footer {
    display: block;
    text-align: center;
    padding: 15px 0;
}

hr {
    padding: 2%;
}

img {
    padding: 2%;
    border-radius: 50px;
}

h1, h3 {
    text-shadow: 1px 1px gray;
}

