#blackmailed-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1em;
    text-align: center;
    color: black;
    flex-wrap: wrap;
}

.blackmailed-flex-item {
    height: 18em;
    max-width: 100%;
}

#business-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}

#bank-pic {
    height: 20em;
    max-width: 100%;
}

li {
    list-style: none;
}

.bank-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 8em;
}

.heading {
    text-align: center;
    font-size: 2em;
    padding-top: 1%;
}

#top-heading {
    padding-top: 7%;
}

#rent-a, #snake-lounge {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}

