.navbar-brand,
.navbar-light,
.navbar-nav,
.nav-link {
   color:white !important;
   transition: transition: font 0.3s ease !important;
}
body {
    background-color: burlywood;
}

.nav-link {
	transition: font-size 0.4s ease;
	letter-spacing: 1.2px;
}

.nav-link:hover {
    font-size: 70%;
    color: burlywood !important;
}