body {
    background: white;
    color: slategray;
}

h1 {
    text-align: center;
    text-underline-position: below;
    color: firebrick;
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    padding-bottom: 50px;
}

h2 {
    color: firebrick;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding-bottom: 25px;
}

.resize {
    width: 540px;
    height: auto;
    padding-bottom: 20px;
}

p {
    font-family: "Courier New", Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-bottom: 25px;
}

.container, .paragraph1 {
    flex-direction: row;
    justify-content: space-evenly ;
}

.paragraph1 {
    width: 500px;
    padding: 25px;
    font-size: 90%;
}

#rating1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 125%;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    padding: 15px 0;
}

#jumbotron {
    background: linear-gradient(to bottom right,black, burlywood, burlywood);
    padding: 100px;
}

#jumbotron-title {
    font-size: 125px;
    font-family: 'Courier New', Courier, monospace;
}