body {
    background-color: burlywood;
}

#jumbotron {
    background: linear-gradient(to bottom right,black, burlywood, burlywood);
    padding: 100px;
}

#jumbotron-title {
    font-size: 125px;
    font-family: 'Courier New', Courier, monospace;
}

h1, h3, h4 {
    text-align: center;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif; 
}

p {
    text-align: center;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

#crimes-section {
    margin: 0 50px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.crimes-section-child {
    padding: 25px 100px;
    border: 2px solid black;
    border-radius: 10px;
}

.crime-list {
    list-style-type: square;
}

#prison-container {
    margin: 0 50px;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prison-images {
    width: 320px;
    border-radius: 25%;
}

.card-container {
    margin: 0 50px;
    padding: 50px 0;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.card-body {
    background-color: burlywood;
}

footer {
    display: block;
    text-align: center;
    padding: 15px 0;
}